<app-sidebar></app-sidebar>

<div class="page-wrapper">

  <!-- Page Content -->
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="row">
      <div class="col-md-12">
        <div class="page-head-box">
          <h3>Loan</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Loan</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="add-emp-section">
          <a class="btn btn-success btn-add-emp" data-bs-toggle="modal" data-bs-target="#add_loan"
             style="width: auto;"><i class="fas fa-plus"></i> Add
            Loan</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <input class="form-control center me-2" type="search" [(ngModel)]="searchKey" name="search"
             placeholder="Search" aria-label="Search"> <br>
      <button class="btn btn-primary" type="submit">Search</button>

    </div>
    <hr>
    <!-- /Search Filter -->


    <div class="row">

      <div class="col-md-12">

        <div class="table-responsive">
          <table class="table table-striped custom-table mb-0 ">
            <thead>
            <tr>
              <th>Sr. No</th>
              <th>Loan Type ID </th>
              <th>Description </th>
              <th>Interest Rate(%) </th>
              <th>Interest Type</th>
              <th>GL Account</th>

              <th class="text-end">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loan of loanData | paginate:{ itemsPerPage:tablesize, currentPage: page,
            totalItems:count} |searchFilter:searchKey:'loanTypeId' let i = index">
              <td>{{ tablesize * (page - 1) + i + 1 }}</td>
              <td>{{loan.loanTypeId}}</td>
              <td>{{loan.description}}</td>
              <td>{{loan.interestRate}}</td>
              <td>{{loan.interestTypeId}}</td>
              <td>{{loan.glaccountNumber}}</td>
              <td class="text-end ico-sec d-flex justify-content-end">
                <a data-bs-toggle="modal" data-bs-target="#edit_loan"
                   (click)="editLoan(loan)"><i class="fas fa-pen"></i></a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#delete_loan"
                   (click)="deleteData(loan.loanTypeId)"><i
                  class="far fa-trash-alt"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    <hr>
    <!-- Pagination -->
    <div class="row" style="margin:0;">
      <div class="col-md-12" style="text-align: center;">
                <span>
                    <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
                </span>
      </div>
    </div>
    <!-- Pagination -->
    <!-- /Page Content -->

<!--    <Add Loan Modal-->
    <div id="add_loan" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Loan</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fas fa-times" #closeBtn></i>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="loanForm">
              <div class="form-group">
                <label>Loan Type Id <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="loanTypeId" type="text"
                       [ngClass]="{'form-control': true, 'is-invalid': loanForm.get('loanTypeId')?.invalid &&
                            (loanForm.get('loanTypeId')?.dirty || loanForm.get('loanTypeId')?.touched)}">
                <div class="invalid-feedback">
                  This field is required.
                </div>
              </div>

                <div class="form-group">
                  <label>Description <span class="text-danger">*</span></label>
                  <input class="form-control" formControlName="description" type="text"
                         [ngClass]="{'form-control': true, 'is-invalid': loanForm.get('description')?.invalid &&
                            (loanForm.get('description')?.dirty || loanForm.get('description')?.touched)}">
                  <div class="invalid-feedback">
                    This field is required.
                  </div>
              </div>
                <div class="form-group">
                  <label>Interest Rate <span class="text-danger">*</span></label>
                  <input class="form-control"
                         formControlName="interestRate"
                         type="text"
                         [ngClass] = "{'form-control': true, 'is-invalid': loanForm.get('interestRate')?.invalid &&
                            (loanForm.get('interestRate')?.dirty || loanForm.get('interestRate')?.touched)} " >
                  <div class="invalid-feedback ">This field is required and only takes number</div>
                </div>
<!--              [ngClass]="{'form-control': true, 'is-invalid': loanForm.get('interestRate')?.invalid &&-->
<!--                            (loanForm.get('interestRate')?.dirty || loanForm.get('interestRate')?.touched)}"-->
              <div>
                <div class="form-group">
                <label>Interest Type</label>

                <select name="interest" id="interest" class="form-control" formControlName="interestTypeId">
                  <option *ngFor = "let interest of interestTypIdData"
                          [selected]="interest"
                          [value]="interest">
                    {{interest}}
                  </option>
                </select>
              </div>
                    <div class="form-group">
                      <label>GL Account </label>
                      <select name="account" id="account" class="form-control" formControlName="glaccountNumber">
                        <option *ngFor = "let account of glaccountNumberData"
                                [selected]="account"
                                [value]="account">
                          {{account}}
                        </option>
                      </select>
              <div class="submit-section">
                <button class="btn btn-danger cancel-btn" data-bs-dismiss="modal"
                        aria-label="Close">Cancel</button>
                <button class="btn btn-success submit-btn" (click)="Add()">Submit</button>
              </div>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
<!--     <Add loan-->


    <!-- Edit Designation Modal -->
    <div id="edit_loan" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Loan</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fas fa-times" #closeupdatebtn></i>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="loanForm">

              <div class="form-group">
                <label>Loan Type Id <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="loanTypeId" type="text">

              </div>
              <div class="form-group">
                <label>Description <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="description" type="text">
              </div>
              <div class="form-group">
                <label>Interest Rate <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="interestRate" type="text">
              </div>
              <div class="form-group">
                <label>Interest Type <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="interestTypeId" type="text">
              </div>
              <div class="form-group">
                <label>GL Account<span class="text-danger">*</span></label>
                <input class="form-control" formControlName="glaccountNumber" type="text">
              </div>
              <div class="submit-section">
                <button class="btn btn-danger cancel-btn" data-bs-dismiss="modal"
                        aria-label="Close">Cancel</button>

                <button class="btn btn-success submit-btn" (click)="Update()">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /Edit Designation Modal -->


    <!-- Delete Designation Modal -->
    <div class="modal custom-modal fade" id="delete_loan" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <div class="modal-body">
            <div class="form-header">
              <h3>Delete Loan</h3>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="fas fa-times" #closedeletebtn></i>
              </button>
              <p>Are you sure want to delete?</p>
            </div>
            <div class="modal-btn delete-action">
              <div class="row">
                <div class="col-6">
                  <a class="btn btn-primary continue-btn"
                     (click)="Delete(loanData[0].loanTypeId)">Delete</a>
                </div>
                <div class="col-6">
                  <a href="javascript:void(0);" data-bs-dismiss="modal"
                     class="btn btn-danger btn">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /Delete Designation Modal -->
  </div>
</div>

<!--<div *ngif ="isAddLoanButtonClicked">-->
<!--  <app-add-loan-modal (onCloseModal) ="closeAddLoan()">-->
<!--  </app-add-loan-modal>-->
<!--</div>-->


